/* desktop to mobile approaach */
/* 1500px -400px size device */

/* 1300px */
@media (max-width: 1300px) {
  .twitter-logo-box {
    width: 80%;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .twitter__logo {
    width: 5rem;
    padding: 1rem;
  }

  .icon {
    width: 2.6rem;
  }

  .nav-tweet-btn {
    /* padding: 1rem; */
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .login-user-info {
    padding: 0.6rem;
  }

  .nav-ele-link {
    display: flex;
    justify-content: center;
  }
  .nav-ele-link .label__general:last-child {
    display: none;
  }

  .nav-tweet-btn .tweet-label:first-child {
    display: none;
  }
  .tweet-icon {
    display: block;
  }

  .login-user-info .login-user-detail,
  .threedot-container {
    display: none;
  }

  .twitter-container {
    display: grid;
    width: 110rem;
    grid-template-columns: 6fr 94fr;
    gap: 0;
  }
  .general--box {
    gap: 0;
    padding: 1rem;
    border-radius: 50%;
  }
}

/* this css property is user to abject nav-header when height is decrease */
@media (max-height: 800px) {
  .nav-sub-header1 {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}

@media (max-height: 700px) {
  .nav-sub-header1 {
    gap: 0.2rem;
  }
}

@media (max-height: 640px) {
  .lists,
  .bookmarks {
    display: none;
  }
  .nav-side-header {
    overflow-y: scroll;
  }
}

/* 1120px  */
@media (max-width: 1120px) {
  .twitter-container {
    display: grid;
    width: 100rem;
  }

  .content-section {
    display: grid;
    grid-template-columns: 70fr 30fr;
    column-gap: 1.4rem;
  }
}

/* 1000pc */
@media (max-width: 1000px) {
  .twitter-container {
    display: grid;
    width: 75rem;
  }

  .explore-sidebar {
    display: none;
  }

  .content-section {
    display: grid;
    grid-template-columns: 100%;
  }

  .svg-search-path {
    display: block;
  }

  .svg-hash-path {
    display: none;
  }
}
