/* desktop to mobile approaach */
/* 1500px -400px size device */

/* 1300px */
@media (max-width: 1300px) {
  .twitter-logo-box {
    width: 80%;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .twitter__logo {
    width: 5rem;
    padding: 1rem;
  }

  .icon {
    width: 2.6rem;
  }

  .nav-tweet-btn {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .login-user-info {
    padding: 0.6rem;
  }

  .nav-ele-link {
    display: flex;
    justify-content: center;
  }
  .nav-ele-link .label__general:last-child {
    display: none;
  }

  .nav-tweet-btn .tweet-label:first-child {
    display: none;
  }
  .tweet-icon {
    display: block;
  }

  .login-user-info .login-user-detail,
  .threedot-container {
    display: none;
  }

  .twitter-container {
    width: 98%;
    grid-template-columns: 6.2rem auto;
  }

  .content-section {
    gap: 1rem;
    grid-template-columns: minmax(63fr, 80fr) minmax(28rem, 100fr);
  }

  .general--box {
    gap: 0;
    padding: 1rem;
    border-radius: 50%;
  }
}

/* this css property is user to abject nav-header when height is decrease */
@media (max-height: 800px) {
  .nav-sub-header2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-height: 640px) {
  .lists,
  .bookmarks {
    display: none;
  }
  .nav-side-header {
    overflow-y: scroll;
  }
}

/* 1000px */
@media (max-width: 1000px) {
  .twitter-container {
    width: 72rem;
  }

  .explore-sidebar {
    display: none;
  }

  .content-section {
    column-gap: 0;
    grid-template-columns: 100%;
  }

  .svg-search-path {
    display: block;
  }

  .svg-hash-path {
    display: none;
  }
}

/*  800px */
@media (max-width: 800px) {
  .content-section {
    font-size: 57%;
  }
  .twitter-container {
    width: 96%;
    gap: 0;
  }

  .content-section {
    grid-template-columns: 100fr;
  }
}

/* 550px */
@media (max-width: 560px) {
  .user-account-link {
    width: 14rem;
  }
  .username-post {
    width: 13rem;
  }
}

/* 500px */
@media (max-width: 500px) {
  .twitter-container {
    width: 100%;
    grid-template-columns: 100%;
  }

  .content-section {
    grid-template-columns: 100fr;
  }
  .post,
  .nav-side-header {
    display: none;
  }
  .home-label {
    display: none;
  }

  .top-content {
    padding-top: 0;
    top: -5.7rem;
  }

  .top-home {
    padding: 0;
  }
  /*  mobile top nav */
  .mobile-nav-header {
    display: flex;
    align-items: center;
  }

  .mobile-nav-toggal {
    flex: 50%;
    padding-top: 0.6rem;
    padding-left: 1.6rem;
  }
  .mobile-twitter-logo {
    flex: 50%;
  }

  /* mobile-bottom nav */
  .mobile-nav-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    padding: 0.5rem 4rem;
    /* test */
    /* display: none; */
  }

  /* tweet btn */
  .mobile-tweet-btn {
    display: block;
    position: absolute;
    top: -10rem;
    right: 3rem;
  }

  /* mobile-nav-toggle */
  .mobile-nav-content {
    position: fixed;
    display: block;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100vh;
    transition: all 0.3s;
  }
  .mobile-nav {
    font-size: 1.8rem;
    display: flex;
    width: 100%;
    height: 100%;
    /* transform: translateX(-100%); */
  }

  .mb-nav {
    font-size: 1.6rem;
    width: 28rem;
    height: 100%;
    background-color: rgb(255, 255, 255);
    flex-shrink: 0;
    overflow-y: scroll;
  }

  .mobile-nav-overlay {
    opacity: 1;
    flex: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .mb-nav-top {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 1.6rem 1.6rem 0 1.6rem;
    display: flex;
    justify-content: space-between;
  }

  .mb-account-info {
    display: flex;
    flex-direction: column;
    padding: 0rem 1.6rem;
  }

  .user-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login-user-detail {
    margin: 0;
    padding: 0.5rem 0 1rem 0;
  }

  .social-info {
    color: #555;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .followers,
  .following {
    text-decoration: none;
    color: #555;
  }

  .followers:active,
  .following:active {
    text-decoration: underline;
  }
  .followers-count,
  .following-count {
    color: #333;
    font-weight: 700;
  }
  .label__general {
    font-size: 2.2rem;
    font-weight: 700;
    color: #555;
  }
  .mb-nav-link {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(227, 236, 233);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  .general--box {
    margin-right: 1.8rem;
  }

  .mb-nav-ele-link {
    color: #333;
    font-weight: 400;
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .mb-nav-ele-link:active {
    background-color: #f7f7f7;
  }

  .mb-dropdown {
    padding: 1rem 1.2rem;
  }

  .dropme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 0;
  }

  .dropdown-icon {
    width: 2.4rem;
    transition: all 0.3s;
  }

  .drop-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-bottom: 1.6rem;
  }
  .drop {
    color: #333;
    padding: 1rem;
  }
  .drop-icon {
    width: 2rem;
  }

  .drop-content {
    display: none;
    /* padding: 1rem; */
    font-weight: 700;
  }
  .dropdown--active .dropdown-icon {
    fill: #1da1f2;
    transform: rotate(180deg);
  }

  .dropdown--active .drop-content {
    display: block;
  }
}

/* 440px Mobile Range */
@media (max-width: 460px) {
  .reaction:nth-child(4) {
    display: none;
  }
  .user-account-link {
    width: 10rem;
  }
  .username-post {
    width: 10rem;
  }
}

/* 370px small screen mobile */

@media (max-width: 370px) {
  html {
    font-size: 54%;
  }
}

/* supported till 300 px */
/* The End */
