@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* test */
  outline: 1px solid green;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", "sans-serif";
  line-height: 1;
  color: #333;
}

/* main container */
.twitter-container {
  width: 130rem;
  display: grid;
  grid-template-columns: 10fr 78fr;
  column-gap: 1.2rem;
  margin: 0 auto;
}

.nav-sub-header2 {
  display: flex;
  flex-direction: column;
  /* flex: 60%; */
  gap: 1rem;
}
.nav-sub-header3 {
  margin-top: auto;
}
.nav-side-header {
  position: sticky;
  top: 0;
  height: 98vh;
  display: flex;
  flex-direction: column;
}

.twitter-logo-box {
  width: fit-content;
  border-radius: 50%;
}

.twitter-logo-box:hover,
.twitter-logo-box:active {
  background-color: #f7f7f7;
}

.twitter__logo {
  width: 6.4rem;
  padding: 1.6rem;
}

/* ------------------ General css  start------------------------ */

.label__general {
  font-family: "Lato";
  font-weight: 400;
  font-size: 2.4rem;
  display: inline;
  margin-right: 2rem;
  letter-spacing: 0.6px;
}

.general--box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 1rem 2rem;
  width: fit-content;
  border-radius: 24px;
}

.nav-ele-link {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 3rem;
}

.post-symbol-icon {
  width: 3rem;
}

.nav-ele-link:hover .general--box,
.nav-ele-link:active .general--box {
  background-color: #ebebed;
}

.active-nav-ele-label--action {
  font-weight: 900;
}

.more-trends {
  letter-spacing: 1px;
  padding: 1rem;
  color: #1da1f2;
}

.heading {
  font-family: "Lato";
  font-size: 2.4rem;
  padding: 2rem;
  font-weight: 900;
}

.post-reaction-icon {
  width: 3rem;
  padding: 5px;
  border-radius: 50%;
  fill: #555;
}

.reaction:hover .post-reaction-icon,
.reaction:active .post-reaction-icon {
  background-color: #daebf6;
  fill: #1da1f2;
}

.reaction:hover span,
.reaction:active span {
  color: #1da1f2;
}
.reaction:hover .love,
.reaction:active .love {
  background-color: rgb(251, 226, 226);
  fill: rgb(242, 19, 19);
}

.reaction:hover .reaction-count--love,
.reaction:active .reaction-count--love {
  color: rgb(245, 34, 34);
}

/* ------------------ General css end------------------------ */

/* ------------- ele tweet btn ----------- */

.nav-tweet-btn {
  text-decoration: none;
  margin-top: auto;
}
.tweet-btn {
  width: 94%;
  display: flex;
  justify-content: center;
  border-radius: 3rem;
  background-color: #1da1f2;
  padding: 1.6rem;
  font-size: 2rem;
  text-align: center;
}
.tweet-btn:hover {
  background-color: rgb(12, 137, 215);
}

.tweet-label {
  font-family: "Lato";
  font-size: 2.4rem;
  font-weight: 700;
  color: White;
}

/*---------- ele login user info -------------------*/
.login-user-info {
  font-family: "Lato";
  display: flex;
  margin-top: 1rem;
  align-items: center;
  padding: 0.8rem 1.2rem;
  border-radius: 3.6rem;
  cursor: pointer;
}
.login-user-info:hover,
.login-user-info:active {
  background-color: #ebebed;
}

.login-user-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.user-pic {
  width: 5rem;
  height: 5rem;
}

.login-user-detail,
.user-detail {
  display: flex;
  flex-direction: column;
  font-family: "sans-serif";
  font-size: 1.8rem;
  margin-left: 1.6rem;
  gap: 4px;
}

.login-personname,
.personname {
  font-weight: 700;
}

.logger-username,
.username {
  font-size: 1.6rem;
}
.threedot-container {
  margin-left: auto;
  width: 3rem;
}
.three-dot {
  width: 2rem;
}

/* --------------- content section --------------*/

.content-section {
  display: grid;
  grid-template-columns: 73fr 38fr;
  column-gap: 2.4rem;
}

.content-bar {
  font-family: "Lato";
  border-left: 1px solid rgb(239, 232, 232);
  border-right: #c6c4c4 1px solid;
}

.top-content {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.946);
  padding-top: 1.6rem;
  flex-direction: column;
  border-bottom: solid 0.5px #d5d5d5;
  cursor: pointer;
}
.top-home {
  display: block;
  font-weight: 900;
  font-size: 2.4rem;
  padding: 1rem;
}
.follow_foryou {
  display: flex;
  font-size: 1.8rem;
}
.main-nav {
  position: relative;
  flex: 50%;
  font-weight: 700;
  color: #333;
  text-decoration: none;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.main-nav:hover,
.main-nav:active {
  background-color: #e4e6e9;
}

.main-nav--active::before {
  content: " ";
  position: absolute;
  bottom: 0;
  display: block;
  height: 4px;
  width: 8rem;
  border-radius: 20%;
  background-color: #1da1f2;
}

.user-post-container {
  display: flex;
  flex-direction: column;
}
.post {
  margin: 1.6rem 0 1rem 1rem;
  display: flex;
}
.create-post {
  border-bottom: 1px rgb(224, 222, 222) solid;
}

.profile-pic {
  margin-top: 1rem;
  border-radius: 50%;
}

/* code useful for javascript */
/* .everyone{
  margin: 0px 20px 5px 10px;
  padding:2px 35px 3px 15px ;
  font-size: medium;
  font-family:'Lato';
  color:rgb(12, 137, 215);
  border: solid rgb(183, 200, 211) 1px;
  border-radius:30px ;
}
.everyone:hover{
  background-color: #d9f0ff;
  transition: 500ms;
} */

.write-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1rem 0px 0px 1rem;
}
.write {
  border: none;
  outline: none;
  font-size: x-large;
  width: 94%;
}
.icons-post {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icons-post svg {
  border-radius: 1.5rem;
  padding: 0.5rem;
  transition: 300ms;
}

.post-bottom {
  padding: 1rem 0;
  margin: 2.4rem 1.6rem 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet-button-post {
  padding: 1rem 2rem;
  background-color: #57b3ec;
  color: #f0f3f0;
  font-size: medium;
  font-family: "Lato";
  font-weight: 700;
  border-radius: 2.5rem;
  height: max-content;
}

.post-example {
  padding: 1rem;
  /* flex: 100%; */
  font-family: "Lato";
  display: flex;
  border-bottom: #0001 1px solid;
  cursor: pointer;
}
.post-example:hover {
  background-color: #f6f4f4;
}
.user-post {
  display: flex;
}
.user-post img {
  height: 5rem;
  width: 5rem;
}
.name {
  font-size: 2rem;
  font-weight: bold;
}
.verified img {
  height: 2rem;
  width: auto;
}

.actualpost-top {
  display: flex;
  align-items: center;
}

.user-account-link {
  font-size: 1.8rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username-post {
  font-size: 1.4rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actualpost-text {
  font-size: 1.6rem;
}

.post-3dot {
  margin-left: auto;
  padding: 5px;
  border-radius: 50%;
}
.post-3dot:hover,
.post-3dot:active {
  background-color: #c0e4fa;
}

.actual-post {
  padding: 0px 0.6rem 0px 1rem;
  display: flex;
  flex-direction: column;
}
.actualpost-text {
  margin-top: 4px;
  font-size: 1.8rem;
}
.actualpost-img {
  display: flex;
  flex-shrink: 2;
  margin-top: 2rem;
}
.actualpost-img img {
  height: auto;
  width: 100%;

  justify-content: center;

  border-radius: 20px;
}

.reaction {
  display: flex;
  padding: 0.4rem;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.reaction-count {
  font-size: 1.6rem;
}
.post-reaction {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

/* ----------- explore sidebar section-------------- */
.explore-sidebar {
  padding-bottom: 10rem;
}
.donot-touch {
  position: sticky;
  z-index: 1000;
  top: 0;
  padding: 0.7rem 0;
  background-color: #fff;
}

.search-container {
  padding: 1.4rem 1.2rem;
  background-color: #f0f3f0;
  border-radius: 8rem;
}

/* when search is active then this css is active */
.search-container--active {
  background-color: #fff;
  outline: 1px solid #1da1f2;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 2rem;
  margin: 0 2rem 0 1rem;
  fill: #666;
}

.search__box {
  width: 76%;
  height: auto;
}

#search {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  font-size: 1.6rem;
  color: #555;
}

.search__clear {
  background-color: rgb(7, 124, 187);
  display: flex;
  padding: 0.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #1da1f2;
  margin-left: 1.2rem;
  display: none;
}

.cross-icon {
  width: 1.2rem;
  fill: white;
}

/* trendforyou  */

.trends-section {
  font-family: "Lato";
  margin-top: 2rem;
  background-color: #f2f4f2;
  border-radius: 20px;
  overflow: hidden;
}

.trend {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 1rem 2rem 1.2rem 2rem;
  color: #555;
  font-size: 1.6rem;
}
.trend:hover,
.trend:active {
  background-color: #dedfdf;
}

.trend :not(:last-child) {
  padding: 2px 0;
}

.trend__topic {
  color: #000;
  font-weight: 700;
}
.trend-3dot {
  position: absolute;
  right: 2rem;
  top: 5px;
  padding: 0.5rem;
}
.three-dot {
  fill: #555;
}
.trend-3dot:hover {
  background-color: #bfe0f5;
  border-radius: 50%;
}
.trend-3dot:hover .three-dot {
  fill: #1da1f2;
}

/*  who to follow section */

.whotofollow {
  font-family: "Lato";
  background-color: #f0f3f0;
  margin-top: 2rem;
  border-radius: 20px;
  overflow: hidden;
}

.recommanded-tw-account {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem 1.2rem 2rem;
  cursor: pointer;
}
.recommanded-tw-account:hover,
.recommanded-tw-account:active {
  background-color: #dedfdf;
}

.user-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(177, 181, 177);
}

.user-account-link {
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
}
.user-account-link:hover {
  text-decoration: underline;
}

.follow-btn {
  background-color: black;
  display: flex;
  align-items: center;
  margin-left: auto;

  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
}
.follow {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
}

/* sidebar - footer */

.sidebar-footer {
  font-family: "Lato";
  font-size: 1.6rem;
  margin-top: 1rem;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 2rem 10rem 2rem;
}

.footer-link {
  display: inline-block;
  color: #555;
  text-decoration: none;
}

.footer-link:hover,
.footer:active {
  text-decoration: underline;
}

/* some changer which will be activate through ressponsive.css*/
.tweet-icon {
  display: none;
}

.svg-search-path {
  display: none;
}

.mobile-nav-header {
  display: none;
}
.mobile-nav-bottom,
.mobile-tweet-btn {
  display: none;
}

/* mobile nav */
.mobile-nav {
  display: none;
}
