@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@1,300;1,500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto" "Lato" "sans-serif";
  line-height: 1;
  color: #333;
}

/* main container */
.twitter-container {
  width: 75vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25fr 75fr;
  column-gap: 1.2rem;
  margin: 0 auto;
}

.nav-section {
  background-color: red;
}

.nav-side-header {
  
}

.content-section {
  background-color: green;
  display: grid;
  grid-template-columns: 60fr 40fr;
  column-gap: 1.2rem;
}

.content-bar {
  background-color: aqua;
}

.content-sidebar {
  background-color: blue;
}
