@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato" "sans-serif";
  line-height: 1;
  color: #333;
}

/* main container */
.twitter-container {
  width: 72vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 22fr 78fr;
  column-gap: 1.2rem;
  margin: 0 auto;
}

.nav-section {
  border-right: 1px solid rgb(239, 232, 232);
  padding-right: 1rem;
}

.nav-side-header {
  position: sticky;
  top: 0;
  height: 98vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.twitter-logo-box {
  width: fit-content;
  border-radius: 50%;
}

.twitter-logo-box:hover,
.twitter-logo-box:active {
  background-color: #f7f7f7;
}

.twitter__logo {
  width: 6.4rem;
  padding: 1.6rem;
}

/* ------------------ General css  start------------------------ */

.label__general {
  font-family: "Lato";
  font-weight: 400;
  font-size: 2.4rem;
  display: inline;
  margin-right: 2rem;
  letter-spacing: 0.6px;
}

.general--box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 1rem 2rem;
  width: fit-content;
  border-radius: 24px;
}

.nav-ele-link {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 3rem;
}

.nav-ele-link:hover .general--box,
.nav-ele-link:active .general--box {
  background-color: #ebebed;
}

.active-nav-ele-label--action {
  font-weight: 900;
}

.more-trends {
  letter-spacing: 1px;
  padding: 1rem;
  color: #1da1f2;
}

.heading {
  font-family: "Lato";
  font-size: 2.4rem;
  padding: 2rem;
  font-weight: 900;
}

/* ------------------ General css end------------------------ */

/* ----------- ele-home ----------- */

/* ------------- ele-explore --------------*/

/* ----------- ele-notification ----------- */

/* ----------- ele-message ----------- */

/* ----------- ele-list ----------- */

/* ----------- ele-bookmarks ----------- */

/* ----------- ele-twitter blue ----------- */

/* ----------- ele-profile ----------- */

/* ----------- ele-more ----------- */

/* ------------- ele tweet btn ----------- */

.nav-tweet-btn {
  background-color: #1da1f2;
  margin-top: 4rem;
  text-decoration: none;
  border-radius: 3rem;
  width: 90%;
}
.nav-tweet-btn:hover {
  background-color: rgb(12, 137, 215);
}
.tweet-btn {
  padding: 1.6rem;
  font-size: 2rem;
  text-align: center;
}

.tweet-label {
  font-family: "Loto";
  font-size: 2.4rem;
  font-weight: 900;
  color: White;
}

/*---------- ele login user info -------------------*/
.login-user-info {
  font-family: "Lato";
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.8rem 1.2rem;
  border-radius: 3.6rem;
}
.login-user-info:hover,
.login-user-info:active {
  background-color: #ebebed;
}

.login-user-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.user-pic {
  width: 5rem;
}

.login-user-detail,
.user-detail {
  display: flex;
  flex-direction: column;
  font-family: "sans-serif";
  font-size: 1.8rem;
  gap: 4px;
}

.login-personname,
.personname {
  font-weight: 700;
}

.logger-username,
.username {
  font-size: 1.6rem;
}
.threedot-container {
  width: 3rem;
}
.three-dot {
  width: 2rem;
}

/* --------------- content section --------------*/

.content-section {
  display: grid;
  grid-template-columns: 62fr 38fr;
  column-gap: 2.4rem;
}

.content-bar {
 border-right: #c6c4c4 1px solid;
}

.top-home {
  font-family: "Lato";
  font-size: 22px;
  padding-bottom: 10px;
}
.top-content {
  background-color: rgba(255, 255, 255, 0.946);
  padding-top: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.5px #d5d5d5;
}
.follow_foryou {
  display: flex;
  font-size: 16px;
}
.mains {
  font-family: "Lato";
  padding: 10px 118px;
  padding-top: 30px;
  color: black;
  
}
.mains:hover {
  background-color: #e4e6e9;
  transition: 0.4s;
}
#follow {
  color: rgb(150, 150, 150);
}
#foryou {
  text-decoration: underline 4px rgb(122, 168, 255);
}
.post{
  margin: 125px 10px 0px 10px;
  display: flex;
}
.top-post{
  border-bottom:1px rgb(224, 222, 222) solid ;
}
.profile-pic{
  margin-top: -10px;
  border-radius: 50%;
}
/* code useful for javascript */
/* .everyone{
  margin: 0px 20px 5px 10px;
  padding:2px 35px 3px 15px ;
  font-size: medium;
  font-family:'Lato';
  color:rgb(12, 137, 215);
  border: solid rgb(183, 200, 211) 1px;
  border-radius:30px ;
}
.everyone:hover{
  background-color: #d9f0ff;
  transition: 500ms;
} */
.write-section{
  display: flex;
  flex-direction:column;
  margin: 10px 0px 0px 10px;
}
.write{
  border: none;
  outline: none;
  font-size:x-large;
}
.icons-post{
  display: flex;
 justify-content: space-around;
}
.icons-post svg{
  border-radius: 15px;
  padding: 5px 5px; 
  transition: 300ms;
}
.icons-post svg:hover{
background-color: #c0e4fa;

}
.post-bottom{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.tweet-button-post{
padding: 10px 25px;
  background-color: #57b3ec;
  color: #f0f3f0;
  font-size: medium;
  font-family: "Lato";
  border-radius: 25px;
  width: 20%;
  height: max-content;
}
.post-example{
  margin: 5px;
  border-bottom: #0001 1px solid ;
  font-family: "Lato";
}
.post-example:hover{
 background-color: #f6f4f4;
}
.user-post{
  display: flex;
}
.user-post img {
 height: 50px;
 width: 50px;
}
.name{
  font-size: large;
  font-weight: bold
}
.verified img{
  height: 20px;
  width: 20px;
}
.username-post{
  font-size: medium;
}
.actualpost-top{
  display: flex;
}
.actual-post{
  padding:0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}
.actualpost-text{
  margin-top: 20px;
  font-size: large;
}
.actualpost-img{
  margin-top: 20px;
}
.actualpost-img img{
  width: 500px;
  height: auto;
  border-radius: 20px ;
}
.actualpost-bottom{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.svg svg{
  padding: 5px 5px 0px 5px;
  width: 30px;
  height: auto;
  transition: 400ms;
}
.svg{
  text-indent: 5px;
  font-weight: bold;
}
.actualpost-bottom svg:hover{
  background-color: #abddfc;
  border-radius: 20px;
  transition: 400ms;
}
/* -----------content-sidebar section-------------- */
.content-sidebar {
  padding-bottom: 10rem;
}
.donot-touch {
  position: sticky;
  z-index: 1000;
  top: 0;
  padding: 7px 0;
  background-color: #fff;
}

.search-container {
  padding: 1.4rem 1.2rem;
  background-color: #f0f3f0;
  border-radius: 8rem;
}
/* when search is active then this css is active */
.search-container--active {
  background-color: #fff;
  outline: 1px solid #1da1f2;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 2rem;
  margin: 0 2rem 0 1rem;
  fill: #666;
}

.search__box {
  width: 76%;
  height: auto;
}

#search {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  font-size: 1.6rem;
  color: #555;
}

.search__clear {
  background-color: rgb(7, 124, 187);
  display: flex;
  padding: 0.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #1da1f2;
  margin-left: 1.2rem;
  display: none;
}

.cross-icon {
  width: 1.2rem;
  fill: white;
}

/* trendforyou  */

.trends-section {
  font-family: "Lato";
  margin-top: 2rem;
  background-color: #f2f4f2;
  border-radius: 20px;
  overflow: hidden;
}

.trend {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 1.2rem 2rem;
  color: #555;
  font-size: 1.6rem;
}
.trend:hover,
.trend:active {
  background-color: #dedfdf;
}

.trend :not(:last-child) {
  padding: 2px 0;
}

.trend__topic {
  color: #000;
  font-weight: 700;
}
.trend-3dot {
  position: absolute;
  right: 2rem;
  top: 5px;
  padding: 0.5rem;
}
.three-dot {
  fill: #555;
}
.trend-3dot:hover {
  background-color: #bfe0f5;
  border-radius: 50%;
}
.trend-3dot:hover .three-dot {
  fill: #1da1f2;
}

/*  who to follow section */

.whotofollow {
  font-family: "Lato";
  background-color: #f0f3f0;
  margin-top: 2rem;
  border-radius: 20px;
  overflow: hidden;
}

.recommanded-tw-account {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem 1.2rem 2rem;
}
.recommanded-tw-account:hover,
.recommanded-tw-account:active {
  background-color: #dedfdf;
}

.user-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(177, 181, 177);
}

.user-account-link {
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
}
.user-account-link:hover {
  text-decoration: underline;
}

.follow-btn {
  background-color: black;
  display: flex;
  align-items: center;
  margin-left: auto;

  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
}
.follow {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
}

/* sidebar - footer */

.sidebar-footer {
  font-family: "Lato";
  font-size: 1.6rem;
  margin-top: 1rem;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 2rem;
}

.footer-link {
  display: inline-block;
  color: #555;
  text-decoration: none;
}

.footer-link:hover,
.footer:active {
  text-decoration: underline;
}
